@import '../../styles/index.scss';

.Popover {
  .Popover-trigger {
    all: unset;

    &:hover {
      cursor: pointer;
    }
  }

  .Popover-content {
    background-color: $white;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0px 2px 5px 0px rgba(182, 179, 179, 0.25);
  }
}
