@import '../../styles/index.scss';

.Radio {
  & > label {
    display: flex;
    align-items: center;
  }
    @mixin radio($borderWidth:1px,$checkedBorderWidth:7px,$checkedBorderColor:$primary,$colorBorder:$black90,$bgColor:white) {
      .Radio-input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: $borderWidth solid $colorBorder;
        border-radius: 50%;
        background-color: $bgColor;

        &:checked {
          border: $checkedBorderWidth solid $checkedBorderColor;
        }
      }
    }
    @include radio();


    .Radio-error {
      @include radio($colorBorder:$redWaring);
    }

    .Radio-green-checked {
      @include radio($colorBorder:$primary);
    }

    .Radio-dark-checked {
       @include radio($checkedBorderColor:$black100 ,$colorBorder: $black100);
    }

    .Radio-disabled {
      @include radio($colorBorder: $black70,$checkedBorderColor: $black70);
    }


    .Radio-large {
      height: 26px;
      width: 26px;
    }

    .Radio-medium {
      height: 24px;
      width: 24px;
    }

    .Radio-small {
      height: 20px;
      width: 20px;
    }

    .Radio-label {
      margin-left: $baseMargin * 3;
    }


    .Radio-label-disabled {
      color: $black80;
    }

    .Radio-label-dark-disabled {
      color: $white;
    }

    .Radio-label-green-disabled {
      color: $black70;
    }
    .Radio-label-dark,
    .Radio-label-green:not(.Radio-label-dark-disabled, .Radio-label-green-disabled) {
      color: $white;
    }
}
