@import '../../styles/index.scss';

.Input {
  position: relative;
  gap: unset;
  color: $black90;
  @include flexAligment($alignment: flex-start, $flexDirection: column);

  &.Input-without-heading {
    gap: $baseMargin;
  }

  & .InputBase-root {
    box-sizing: border-box;
    width: 100%;
    padding: 0 $basePadding * 5;
    border-radius: $baseBorderRadius;
    background-color: $white;
    @include border($color: $black80);
    @include body-big;
    @include flexAligment;

    &:hover {
      cursor: text;
      @include border($color: $green70);
    }

    &:focus-within {
      outline: none;
      @include border($color: $green100);
    }

    &.Input-disabled {
      pointer-events: none;
    }

    & .InputBase-input {
      position: relative;
      width: 100%;
      outline: none;
      padding: $basePadding * 5.5 0;
      border: none;
      background: transparent;
      @include body-big;
    }

    & .InputBase-input-dark {
      color: $white;
    }

    & .InputBase-input-small {
      padding: $basePadding * 4.5 0;
      @include body-normal;
    }

    & .InputBase-icon-start {
      cursor: pointer;
      margin-right: $baseMargin * 4;
      @include flexAligment;
    }

    & .InputBase-icon-end {
      @include flexAligment;
      border: none;
      background-color: transparent;
      cursor: pointer;
      margin-left: $baseMargin * 4;
      color: $black90;
    }

    & .InputBaseInner {
      position: relative;
      width: 100%;

      & .InputLabel {
        position: absolute;
        top: $baseMargin * 4.5;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }

      & .InputLabel-medium-align-center {
        @include body-big;
        top: $baseMargin * 5.5;
      }

      & .InputLabel-small-align-center {
        @include body-normal;
      }

      & .InputLabel-position-fixed {
        @include body-small;
        top: 0;
      }

      &:focus-within {
        &.InputBaseInner .InputLabel {
          @include body-small;
          top: 0;
        }
      }
    }
  }

  & .InputBase-root-dark {
    background-color: $black100;
    @include border($color: $lightBlack);
  }

  & .InputLabel {
    @include body-normal;
  }

  & .InputLabel-small {
    @include body-small;
  }

  & .InputBase-error {
    @include border($color: $redWaring);
  }

  & .Input-helper-text {
    @include caption;
    @include flexAligment;
    overflow-wrap: break-word;
    box-sizing: border-box;
    padding: 0 $basePadding * 5;

    & svg {
      margin-right: $basePadding + 1;
    }
  }

  & .Input-helper-text-dark {
    color: $white;
  }

  & .Input-hint-text {
    color: $primary;
  }

  & .Input-error-text {
    color: $redWaring;
  }

  & input[type=number]::-webkit-outer-spin-button,
  & input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  & input[type=number] {
    -moz-appearance: textfield;
  }
}
