@import '../../styles/index.scss';

.Button {
  height: 48px;
  padding: ($basePadding + 3) * 2 $basePadding * 6;
  border-radius: $baseBorderRadius;
  color: $white;
  border: none;
  gap: 4px;
  cursor: pointer;
  @include flexAligment;
  @include body-normal;
  @include transition(background-color);

  & .Button-children {
    @include flexAligment;
  }

  &.Button-fullWidth {
    width: 100%;
  }

  &.Button-primary {
    background-color: $primary;
    color: $white;
    &:hover {
      background-color: $green90;
    }
    &:active {
      background-color: $green100;
    }
  }

  &.Button-primary-disable {
    color: $black90;
    background-color: $black80;
    &:hover {
      background-color: $black80;
    }
  }

  &.Button-secondary {
    background-color: $pale;
    color: $black100;
    &:hover {
      background-color: $black70;
    }
    &:active {
      background-color: $black100;
      color: $white;
    }
  }

  &.Button-secondary-disable {
    @extend .Button-secondary;
    color: $black80;
    background-color: $pale;
    &:hover {
      color: $black80;
      background-color: $pale;
    }
  }

  &.Button-green {
    @extend .Button-primary;
    background-color: $green50;
    color: $primary;
    &:hover {
      background-color: $green60;
    }
    &:active {
      background-color: $green100;
      color: $white;
    }
  }

  &.Button-green-disable {
    @extend .Button-secondary;
    color: $black80;
    background-color: $pale;
    &:hover {
      color: $black80;
      background-color: $pale;
    }
  }

  &.Button-round {
    @extend .Button-primary;
    border-radius: 28px;
  }

  &.Button-large {
    @extend .Button-primary;
    @include heading_3;
    height: 56px;
    padding: $basePadding * 4 $basePadding * 8;
  }

  &.Button-small {
    @extend .Button-primary;
    @include body-normal;
    @include transition(background-color, $duration: 300ms);
    height: 32px;
    padding: $basePadding + 2 $basePadding * 4;

    & .Button-children svg {
      width: 15px;
      height: 15px;
    }
  }

  & .Button-icon-left {
    display: flex;
    svg {
      margin-right: $baseMargin * 3;
    }
  }

  & .Button-icon-right {
    display: flex;
    svg {
      margin-left: $baseMargin * 3;
    }
  }

  &.Button-outlined {
    @extend .Button-primary;
    background-color: $white;
    outline: 2px solid $green70;
    color: $primary;
    @include transition(color);

    &:hover {
      background-color: unset;
      color: $green90;
    }
    &:active {
      outline: 2px solid $green100;
      color: $green100;
    }
  }

  &.Button-outlined-disable {
    @extend .Button-outlined;
    color: $black80;
    outline: 2px solid $black80;
    &:hover {
      color: $black80;
      outline: 2px solid $black80;
    }
  }

  &.Button-text {
    @extend .Button-primary;
    @include body-normal;
    @include transition(color);
    height: 20px;
    color: $primary;
    padding: unset;
    background-color: unset;
    &:hover {
      color: $green90;
      background-color: unset;
    }
    &:active {
      color: $green100;
    }
  }

  &.Button-text-disable {
    @extend .Button-text;
    color: $black80;
    &:hover {
      color: $black80;
    }
  }

  &.Button-text-large {
    @extend .Button-text;
    @include body-big;
    height: 24px;
  }

  &.Button-text-small {
    @extend .Button-text;
    @include body-small;
    @include transition(color, $duration: 300ms);
    height: 18px;
  }

  &.Button-only_icon {
    min-width: 48px;
    height: 48px;
    padding: $basePadding * 3;
    gap: $baseMargin * 3;
  }

  &.Button-only_icon-large {
    @extend .Button-only_icon;
    min-width: 56px;
    height: 56px;
    padding: $basePadding * 4;
  }

  &.Button-only_icon-small {
    @extend .Button-only_icon;
    min-width: 32px;
    height: 32px;
    padding: $basePadding * 2;
  }
}
