@import '../../styles/index.scss';

.Tags {
  .Tags-base {
    @include flexAligment($justifyContent: flex-start);
    gap: $baseMargin * 2;

    .Tag {
      background-color: $black70;
      border-radius: $baseBorderRadius * 12.5;
      color: $black90;
      border: none;
      cursor: pointer;
      @include flexAligment;

      & .Tag-label {
        @include flexAligment;
      }

      &.Tag-large {
        @include body-normal;
        padding: $basePadding * 2.5 $basePadding * 5;
      }

      &.Tag-medium {
        @include body-small;
        padding: $basePadding * 2 $basePadding * 3;

        & .Tag-label svg {
          width: 15px;
          height: 15px;
        }
      }

      & .Tag-icon-left {
        display: flex;
        svg {
          margin-right: $baseMargin * 2;
        }
      }

      & .Tag-icon-right {
        display: flex;
        svg {
          margin-left: $baseMargin * 2;
        }
      }
    }

    .Tag-active {
      background-color: $grey90;
      color: $white;
    }
  }
}
