@import '../../styles/index.scss';

.Tabs {
  .Tabs-base {
    @include flexAligment($justifyContent: flex-start);
    gap: $baseMargin * 4;
    position: relative;
    .Tab-root {
      position: relative;
      display: flex;
      background: white;
      border: none;
      cursor: pointer;

      .Tab-label {
        color: $black90;
        @include heading-regular;
      }
    }

    .Tab-root-small {
      height: 41px;

      .Tab-label {
        @include body-big;
      }
    }

    .Tab-root-active {
      .Tab-label {
        color: $black100;
      }
    }

    .Tab-active-line {
      background-color: $primary;
      position: absolute;
      height: 3px;
      bottom: 0;
      border-radius: 1px;
    }
  }
}
