@mixin transition($name, $curve: ease-out, $duration: 200ms) {
  transition: $name $curve $duration;
}

@mixin flexAligment($alignment: center, $justifyContent: center, $flexDirection: initial) {
  display: flex;
  align-items: $alignment;
  justify-content: $justifyContent;
  flex-direction: $flexDirection;
}

@mixin border($width: 1px, $style: solid, $color: $black) {
  border: $width $style $color;
}
