// Display
@mixin display_1 {
  font-weight: $fontWeight720;
  font-size: 56px;
  line-height: 71.68px;
}

@mixin display_2 {
  font-weight: $fontWeight720;
  font-size: 40px;
  line-height: 52px;
}

// Heading
@mixin heading_1 {
  font-weight: $fontWeight720;
  font-size: 30px;
  line-height: 38px;
}

@mixin heading_2 {
  font-weight: $fontWeight720;
  font-size: 22px;
  line-height: 28px;
}

@mixin heading_2-medium {
  font-weight: $fontWeight550;
  font-size: 22px;
  line-height: 28px;
}

@mixin heading_3 {
  font-weight: $fontWeight720;
  font-size: 18px;
  line-height: 24px;
}

@mixin heading_3-medium {
  font-weight: $fontWeight550;
  font-size: 18px;
  line-height: 24px;
}

@mixin heading-regular {
  font-weight: $fontWeight400;
  font-size: 22px;
  line-height: 28px;
}

@mixin heading-subtitle {
  font-weight: $fontWeight720;
  font-size: 16px;
  line-height: 20px;
}

@mixin heading-subtitle-medium {
  font-weight: $fontWeight550;
  font-size: 16px;
  line-height: 20px;
}

@mixin heading-small {
  font-weight: $fontWeight720;
  font-size: 14px;
  line-height: 18px;
}

// Body
@mixin body-small {
  font-weight: $fontWeight400;
  font-size: 14px;
  line-height: 18px;
}

@mixin body-normal {
  font-weight: $fontWeight400;
  font-size: 16px;
  line-height: 20px;
}

@mixin body-big {
  font-weight: $fontWeight400;
  font-size: 18px;
  line-height: 24px;
}

@mixin body-paragraph {
  font-weight: $fontWeight400;
  font-size: 16px;
  line-height: 26px;
  height: 28px;
}

// Caption
@mixin all-captions {
  font-weight: $fontWeight400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 7.5%;
}

@mixin caption {
  font-weight: $fontWeight400;
  font-size: 12px;
  line-height: 16px;
}
