@import '../../styles/index.scss';

.Breadcrumbs {
  .Breadcrumbs-list {
    display: flex;

    .Breadcrumbs-item {
      display: flex;
      cursor: pointer;
    }

    .Breadcrumbs-item-current {
      cursor: default;

      :first-child {
        pointer-events: none;
        color: $black90;
      }
    }

    .Breadcrumbs-separator {
      margin: 0 $baseMargin * 2;
      @include flexAligment;
    }

    .Breadcrumbs-button {
      cursor: pointer;
      background-color: unset;
      padding: unset;
      border: none;
      @include body-normal;
    }
  }
}
